---
import { getCollection, getEntry, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const entries = await getCollection("articles");
  return entries.map((entry) => ({
    params: { id: entry.id },
    props: {post: entry}
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<BaseLayout content={post.data}>
  <a href="/">Homepage</a>
  <h1>{post.data.title}</h1>
  <Content />
</BaseLayout>
